.main-container {
  width: 400px;
  margin: 0 auto;
}

.main-heading {
  font-size: 34px;
  font-family: sans-serif;
  padding: 40px 0 20px;
}

.userlist-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  /* border: 2px solid dodgerblue; */
  background-color: #fefefe;
  border-radius: 20px;
  box-shadow: -10px -10px 30px 4px rgba(0,0,0,0.1),
              10px 10px 30px 4px rgba(45,78,255,0.15);
}

.usercard {
  padding: 10px;
  margin: 0 auto;
}

.usercard p {
  font-size: 16px;
  border-bottom: 1px solid #373737;
  padding-bottom: 1px;
}